body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(11, 11, 11);
    color: #fff;
    font-size: 1vw;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 2.7vw;
    height: 0.9vw;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#25303a;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    left:0.1vw ;
    bottom:-0.3vw ;
    background-color:#2196f3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #3e99e374;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #3e99e374;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
/* *************Header*************** */
  header{
    all: unset;
    display: flex;
    justify-content:space-between;
    height: 4.5vw;
    align-items: center;
    background-color: black;
  }
  li{
    list-style: none;
  }
  .btn{
    border-radius: 1vw;
    padding: 0.1vw 0.8vw;
    background-color: #2196F3;
    font-size: 1vw;
  }
  .nav{
    all: unset;
    width: 25%;
  }
  ul{
    all: unset;
    display: flex;
    justify-content:space-around;
  }

  .brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 20px;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

  .tab {
    flex: 1;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .tab.active {
    color:#007bff;
    font-weight: bold;
  }

  .tab.active:hover {
    color: #0056b3;
  }

  .tab:not(.active):hover {
    color: #555;
  }
  .select-view{
    display: flex;
    justify-content: space-around;
  }
  .select-view div{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
  }
  .line1{
    height: 0.1vw;
    background-color: #2196F3;
    transition: background-color 0.2s ease;
  }

  /* Styles for container and data display */
  .section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1vw;
    column-gap: 1vw;
    justify-items: center;
  }
  .card {
    border: 1px solid #1B1B1B;
    border-radius: 8px;
    box-shadow: 0 4px 4px #1B1B1B;
    padding: 16px;
    width: 15vw;
    height: 18vw;
    text-align: center;
    background-color:#1B1B1B;
    font-size: 1vw;
  }

  .card img {
    max-width: 100px;
    margin-bottom: 10px;
  }
  .divg1 img{
    width: 2.5vw;
    height: 2.5vw;
  }
  .grid{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.4vw;
    text-align: start;
  }
  .divg1{
    display: flex;
    gap: 1vw;
  }
  .divg2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2vw;
      width: 6vw;
      border: 0.1vw solid greenyellow;
      color: greenyellow;
      border-radius: 2vw;
  }
  .divg3{
    font-weight: bold;
    color: greenyellow;
  }
  .divg4{
    color: #949494;
  }
  .divg5{
    color: #949494;
  }
  /* Styles for list view */
  .container{
    margin-top: 4.5vw;
  }
  .list-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .list-list div{
    align-self: center;
  }
  .div1{
    width: 10%;
    display: flex;
    gap: 1.5vw;
  }
  .div1 img{
    width: 2.5vw;
    height: 2.5vw;
  }
  .coinSign{
    font-weight: bold;
    text-transform: uppercase;
  }
  .coinName{
    text-transform: capitalize;
    color: #949494;
  }
  .div2{
    width: 10%;
    align-self: center;
  }
  .div2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 2vw;
      width: 6vw;
      border: 0.1vw solid greenyellow;
      color: greenyellow;
      border-radius: 2vw;
  }
  .div3{
    font-weight: bold;
    width: 10%;
    color: greenyellow;
  }
.div4{
  width: 10%;
}
.div5{
  width: 10%;
}
 

  /* Responsive styles */
  @media (max-width: 768px) {
    .section {
      grid-template-columns: 50% 50%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0vw;
      column-gap: 0vw;  
      row-gap: 5vw;
    }
    .divg1{
      font-size: 1.6vw;
    }
    .grid{
      font-size: 1.1vw;
    }
    .select-view{
      font-size: 2.5vw;
    }
    header{
      font-size: 2vw;
    }
    .nav{
      width: 50%;
    }
  }

  @media (max-width: 480px) {
    .card img {
      max-width: 80px;
    }
  }